.music-nav-btn {
  padding: 6px 8px;
  margin-right: 2px;
  border: 1px solid rgb(75, 74, 74);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 1.2em;
  font-family: system-ui;
  color: rgb(72, 71, 71);
  background: whitesmoke;
}

